# Archivos de Excel
*.xlsx

# Directorios de caché de Python
__pycache__/

# Entorno virtual
.venv/

# Archivos de configuración sensible
.env

# Archivos PDF generados
*.pdf

# Configuración de VS Code
.vscode/

.pytest_cache/

.coverage