fastapi #framework para construir la api
uvicorn #libreria para levantar un servidor
sqlmodel #libreria de fastapi para modelos
mysql-connector-python #conexion a BDD
pydantic #
weasyprint
jinja2
email-validator #nuevas dependencias a partir de aqui
requests
pandas
openpyxl
yagmail
apscheduler